* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background: #090b1a;
}

.card {
  background: #1b1938;
  width: max(320px, 90%);
  border-radius: 10px;
  overflow: hidden;
}
.card__img-bg-blend {
  background-color: #aa5cdb;
  height: 23rem;
  width: auto;
}
.card__img {
  background-image: url(../images/image-header-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
  opacity: 0.8;
  height: 100%;
  width: auto;
}
.card__content {
  padding: 3rem 2rem;
  text-align: center;
}
.card__title {
  color: white;
  font-family: "Inter", sans-serif;
  margin-bottom: 2rem;
}
.card__text {
  color: rgba(255, 255, 255, 0.75);
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  padding: 0 1rem;
  margin-bottom: 3rem;
}
.stat:not(:last-of-type) {
  margin-bottom: 2rem;
}
.stat__number {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 2.25rem;
  margin-bottom: 0.8rem;
}
.stat__heading {
  color: rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.accent {
  color: #aa5cdb;
}

.attribution {
  font-family: "Inter", sans-serif;
  font-size: 11px;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
}
.attribution a {
  color: #aa5cdb;
}
