:root {
    /* Colors */
    --background-main: hsl(233, 47%, 7%);
    --background-card: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
    --paragraph-main: hsla(0, 0%, 100%, 0.75);
    --heading-stat: hsla(0, 0%, 100%, 0.6);

    /* Fonts */
    --font-inter: 'Inter', sans-serif;
    --font-lexend-deca: 'Lexend Deca', sans-serif;

}

* {
    box-sizing: border-box;
}

body {
    font-size: 15px;
    background-color: var(--background-main);
}

.accent {
    color: var(--accent);
}

.centered {
    margin: 0 auto;
}

.card {
    background-color: var(--background-card);
    margin: 80px 15px 40px 15px;
    padding-bottom: 20px;
    border-radius: 10px;
    text-align: center;
}

.card .img-wrap {
    background-color: var(--accent);
    height: 230px;
    width: auto;
    border-radius: 10px 10px 0 0;
}

.card .img {
    background-image: url('../images/image-header-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
    opacity: 0.8;
    height: 100%;
    width: auto;
}

.card h1 {
    color: var(--white);
    font-family: var(--font-inter);
    max-width: 85%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.card p {
    color: var(--paragraph-main);
    font-family: var(--font-inter);
    max-width: 80%;
    margin-bottom: 40px;
    line-height: 22px;
}

.stat {
    margin-bottom: 28px;
}

.stat .number {
    color: var(--white);
    font-family: var(--font-inter);
    font-weight: 700;
    font-size: 28px;
    display: block;
    margin-bottom: 6px;
}

.stat .heading {
    color: var(--heading-stat);
    text-transform: uppercase;
    font-family: var(--font-inter);
    letter-spacing: 0.5px;
    font-size: 14px;
}